@font-face {
  font-family: "sf-ui-display-black";
  src: url("../fonts/sf-ui-display-black-58646a6b80d5a.otf");
}
@font-face {
  font-family: "sf-ui-display-bold";
  src: url("../fonts/sf-ui-display-bold-58646a511e3d9.otf");
}
@font-face {
  font-family: "sf-ui-display";
  src: url("../fonts/sf-ui-display-light-58646b33e0551.otf");
}
@font-face {
  font-family: "sf-ui-display-medium";
  src: url("../fonts/sf-ui-display-medium-58646be638f96.otf");
}
