@mixin margin-top($top) {
  margin-top: $top;
}
@mixin margin-left($left) {
  margin-left: $left;
}
@mixin margin-right($right) {
  margin-right: $right !important;
}
@mixin margin-bottom($bottom) {
  margin-bottom: $bottom;
}
@mixin padding-left($left) {
  padding-left: $left;
}
@mixin padding-right($right) {
  padding-right: $right;
}
@mixin padding-top($top) {
  padding-top: $top;
}
@mixin padding-bottom($bottom) {
  padding-bottom: $bottom;
}
